<!DOCTYPE html>
<html layout:decorate="fragments/general_show_template"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title layout:fragment="title" data-th-text="#{screen_show}+' '+#{cpt.cptDepenseSGM}">Welcome</title>
<style layout:fragment="style">
.modal-dialog>.modal-content>.modal-body {
	height: 300px;
}
</style>

<link data-th-href="@{/resources/js/angular-datepicker-master/dist/angular-datepicker.min.css}"
rel="stylesheet" type="text/css" />
</head>
<style>
.table > tbody > tr > td{
border:0px;
}
</style>
<body>
	
	<div layout:fragment="content"  data-ng-app="app" data-ng-controller="ctrl as vm" >	
				
				<ol class="breadcrumb" style="margin: 4px -5px -8px;border-radius: 0px;">
				  <li><a th:href="@{/rest/}" th:text="#{breadcrumbs_home}">Home</a></li>
				  <li><a th:href="@{/rest/cptresources/cptDepenseSGM/search}" th:text="#{cpt.cptDepenseSGM}">Module</a></li>
				  <li class="active" th:text="#{screen_show}+' '+#{cpt.cptDepenseSGM}">Fonction</li>
				</ol>	
				
				<div class="row" style="margin-right: 7px;">
				
				<div class="panel panel-default col-md-12 col-lg-12" id="merge-panel" style="padding: 0px;margin:2px 11px;">
					<div class="panel-heading">
						<span th:text="#{screen_show}+' '+#{cpt.cptDepenseSGM}" ></span>
						
						<div th:if="${uspaspdf}"  class="btn btn-list pull-right" id="uspAsPDF" onclick="return saveToPdf();" data-toggle="modal" data-target="#myModalPdfViewer"  
							style="margin-top:-4px;color: inherit;">
							<i class="fa fa-file-pdf-o"></i>
						</div>		
						<a th:if="${uspcreate}"  class="btn btn-list pull-right"  
							th:href="@{/rest/cptresources/cptDepenseSGM/create}"  style="margin-top:-4px;color: inherit;">
							<i class="fa fa-plus"></i>
						</a>
						<div th:if="${uspdelete}"  class="btn btn-list pull-right" onclick="return verifieDelete(this);" 
							th:attr="data-url=${#httpServletRequest.requestURI}+'/delete'"  style="margin-top:-4px;color: inherit;">
							<i class="fa fa-times"></i>
						</div>
						<a  th:if="${uspupdate}" class="btn btn-list pull-right"  
							th:href="${#httpServletRequest.requestURI}+'/update'"  style="margin-top:-4px;color: inherit;">
							<i class="fa fa-pencil"></i>
						</a>
						<a class="btn btn-list pull-right" href="/rest/cptresources/cptDepenseSGM/search" 
							th:href="@{/rest/cptresources/cptDepenseSGM/search}"  style="margin-top:-4px;color: inherit;">
							<i class="fa fa-arrow-left"></i>
						</a>
					
						
					</div>
					<div class="panel-body">					
					<div th:unless="${#lists.isEmpty(result)}" id="showTable"  layout:fragment="showTable_fg">  
					<input type="hidden" id="id" th:value="${result.id}" />
					
					
					
					<fieldset class="col-md-12 col-lg-12">
					
					
					
					<div class="row" id="form-row" style="margin:10px">
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpAchId}">CdpAchId</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  th:if="${result.cdpAchId!=null}" th:text="${{result.cdpAchId}}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  th:if="${result.cdpAchId==null}" th:text="NULL" ></div>
							
							<!-- Entite demander-->
						    <div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{ach.achAchatMergeDTO.dem}">CdpAchId</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  th:if="${result.cdpEntId!=null}" th:text="${{result.cdpEntId}}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  th:if="${result.cdpEntId==null}" th:text="NULL" ></div>
							
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpConcurent}">CdpConcurent</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpConcurent}" ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpRc}">CdpRc</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpRc}" ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpIce}">CdpIce</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpIce}" ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpIf}">CdpIf</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpIf}" ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpCnss}">CdpCnss</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpCnss}" ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpRib}">CdpRib</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpRib}" ></div>
						
						
						    <div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpCp}">CdpCp</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:if="${result.cdpCp!=null}"  th:text="${#numbers.formatDecimal(result.cdpCp, #messages.msg('app.bigDec.mindigits'), #messages.msg('app.bigDec.thousands.separator'), #messages.msg('app.bigDec.decimal.digits'), #messages.msg('app.bigDec.decimal.separator'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="String" th:if="${result.cdpCp==null}"  ></div>
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpCe}">CdpCe</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:if="${result.cdpCe!=null}"  th:text="${#numbers.formatDecimal(result.cdpCe, #messages.msg('app.bigDec.mindigits'), #messages.msg('app.bigDec.thousands.separator'), #messages.msg('app.bigDec.decimal.digits'), #messages.msg('app.bigDec.decimal.separator'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="String" th:if="${result.cdpCe==null}"  ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpInterMor}">CdpInterMor</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:if="${result.cdpInterMor!=null}"  th:text="${#numbers.formatDecimal(result.cdpInterMor, #messages.msg('app.bigDec.mindigits'), #messages.msg('app.bigDec.thousands.separator'), #messages.msg('app.bigDec.decimal.digits'), #messages.msg('app.bigDec.decimal.separator'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="String" th:if="${result.cdpInterMor==null}"  ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpRevPrix}">CdpRevPrix</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:if="${result.cdpRevPrix!=null}"  th:text="${#numbers.formatDecimal(result.cdpRevPrix, #messages.msg('app.bigDec.mindigits'), #messages.msg('app.bigDec.thousands.separator'), #messages.msg('app.bigDec.decimal.digits'), #messages.msg('app.bigDec.decimal.separator'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="String" th:if="${result.cdpRevPrix==null}"  ></div>
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpMc}">CdpMc</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:if="${result.cdpMc!=null}"  th:text="${#numbers.formatDecimal(result.cdpMc, #messages.msg('app.bigDec.mindigits'), #messages.msg('app.bigDec.thousands.separator'), #messages.msg('app.bigDec.decimal.digits'), #messages.msg('app.bigDec.decimal.separator'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="String" th:if="${result.cdpMc==null}"  ></div>
						
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpMom}">CdpMom</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:if="${result.cdpMom!=null}"  th:text="${#numbers.formatDecimal(result.cdpMom, #messages.msg('app.bigDec.mindigits'), #messages.msg('app.bigDec.thousands.separator'), #messages.msg('app.bigDec.decimal.digits'), #messages.msg('app.bigDec.decimal.separator'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="String" th:if="${result.cdpMom==null}"  ></div>
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpNumDep}">cdpNumDep</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpNumDep}" ></div>
							
							
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpNumGid}">cdpNumGid</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpNumGid}" ></div>
							
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpNrCon}">CdpNrCon</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpNrCon}" ></div>
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpRevPrixDate}">CdpRevPrixDate</label></div>												
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  data-class="date"  th:if="${result.cdpRevPrixDate!=null}"  th:text="${#calendars.format(result.cdpRevPrixDate,#messages.msg('app.dateformat'))}" ></div>
							<div  class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;"  th:if="${result.cdpRevPrixDate==null}" ></div>
							
							<!-- 
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpFluTau}">CdpFluTau</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpFluTau}" ></div>
							
							<div  class="col-md-3 col-sm-3 col-xs-12 form-lb"  style="padding:4px 0px;" ><label th:text="#{cpt.cptDepenseMergeDTO.cdpDepCon}">CdpDepCon</label></div>												
							<div   class="col-md-3 col-sm-7 col-xs-12 form-content"  style="padding:4px 0px;" data-class="String" th:text="${result.cdpDepCon}" ></div>
							-->					
					</div>
					
					<br/>
					
					
					
				<div id="">
						<ul id="tabsAchAchatMergeDTO" class="nav nav-tabs" >	
						<li class="active"><a href="#Tab6" data-toggle="tab" th:text="#{cpt.cptDepenseMergeDTO.Tab6}">Tab6</a></li>							
							<li><a href="#Tab7" data-toggle="tab" th:text="#{cpt.cptDepenseMergeDTO.Tab7}">Tab7</a></li>
							
						</ul>
						
						<div id="tabsAchAchatMergeDTOContent" class="tab-content" style="min-height: 200px; border-style: solid; border-width: 0px 1px 1px 1px; border-color:#DDDDDD;" >
						
				<!-- --------------- Tab Decision:  --------------- -->
						<div id="Tab7" class="tab-pane fade">
							<div class="row" id="form-row" style="margin: 10px">
								<div data-th-replace="main/cptresources/cptDepDecision/decisionsShowTab :: body "></div>
							</div>
						</div>
						<!-- --------------- Tab Status:  --------------- -->
						<div id="Tab6" class="tab-pane fade active in ">
							<div class="row" id="form-row" style="margin: 10px">
								<div data-th-replace="main/cptresources/cptDepState/statusShowTab :: body "></div>
							</div>
						</div>
						</div>
						</div>
				</div>
			</div>
			
				
			 
				<div class="row"
					th:if="${result.cdpCurCenId?.id == T(ma.brs.sgbcdm.cpt.serviceapi.CptEntityCts).SGM_ID  || result.cdpCurCenId?.id == T(ma.brs.sgbcdm.cpt.serviceapi.CptEntityCts).SGM_CI_ID }">

					<div class="row">
						<a class="btn btn-actions"
							th:if="${uspverify  && ( result.cdpCurStatus == T(ma.brs.sgbcdm.cpt.serviceapi.CptDepenseCts).ON_GOING )}"
							th:href="@{/rest/cptresources/cptDepenseSGM/__${result.id}__/sendVerfication}">
							Envoyer pour verification </a>
								
						<a class="btn btn-actions"
							th:if="${uspverify  && result.cdpCurStatus == T(ma.brs.sgbcdm.cpt.serviceapi.CptDepenseCts).MADE}"
							data-ng-click="vm.addStatus('A')"> Valider </a>
						<a class="btn btn-actions"
							th:if="${uspverify  && result.cdpCurStatus == T(ma.brs.sgbcdm.cpt.serviceapi.CptDepenseCts).MADE}"
							data-ng-click="vm.addStatus('R')"> Rejeter </a>
						<a class="btn btn-actions"
							th:if="${uspverify  && ( result.cdpCurStatus == T(ma.brs.sgbcdm.cpt.serviceapi.CptDepenseCts).APPROVED || result.cdpCurStatus == T(ma.brs.sgbcdm.cpt.serviceapi.CptDepenseCts).REJECTED )}"
							data-ng-click="vm.addDecision()"> Envoyer SB </a>
							<!-- 
						    <a class="btn btn-actions"
							th:if="${uspverify  && result.cdpCurStatus == T(ma.brs.sgbcdm.cpt.serviceapi.CptDepenseCts).APPROVED}"
							data-ng-click="vm.addDecision()"> Envoyer SM </a>
							-->
							
					</div>
				</div>
				<div data-th-replace="main/cptresources/cptDepState/statuRemModal :: body "></div>
		<div data-th-replace="main/cptresources/cptDepDecision/decisionModal :: body(true, false) "></div>
	<!-- 	<div data-th-replace="main/achresources/achAchatMemo/memoModal :: body "></div> -->
				
			</fieldset>
				</div>
				
				</div>
				<div th:if="${#lists.isEmpty(result)}">					
					No CptDepenseSGM found with this id.
				</div>
				
				
				
				</div>
<div layout:fragment="js_script" id="script_js">

		<script th:src="@{/resources/js/main/cptresources/cptDepenseSGM/show.js}"></script>

		<div data-th-replace="main/importAngular :: body "></div>

		<div data-th-replace="main/importAngularDatepicker :: body "></div>
		
		<script data-th-src="@{/resources/js/main/module.js}"></script>
		<script data-th-src="@{/resources/js/main/require-720kb-datepicker.js}"></script>
		
		<script data-th-src="@{/resources/js/main/url.service.js}"></script>
		<script data-th-src="@{/resources/js/main/swal.service.js}"></script>
		<script data-th-src="@{/resources/js/main/cptresources/cptDepenseSGM/show/data.service.js}"></script>
		<script data-th-src="@{/resources/js/main/cptresources/cptDepenseSGM/show/ctrl.js}"></script>
		
		<script data-th-src="@{/resources/js/main/cptresources/cptDepDecision/listTab/data.service.js}"></script>
		<script data-th-src="@{/resources/js/main/cptresources/cptDepDecision/listTab/ctrl.js}"></script>
		
		<script data-th-src="@{/resources/js/main/cptresources/cptDepState/listTab/data.service.js}"></script>
		<script data-th-src="@{/resources/js/main/cptresources/cptDepState/listTab/ctrl.js}"></script>
	
		<script data-th-src="@{/resources/js/main/cptresources/cptDepenseMemo/modal/data.service.js}"></script>
		<script data-th-src="@{/resources/js/main/cptresources/cptDepenseMemo/modal/ctrl.js}"></script>

	
</div>

			
</body>
</html>
										
